{% extends 'template.html.twig.twig' %}

{% block main %}

<div class="column_container">
    <section class="leftside">


        <h1> Compound Exercises </h1>

        <p>  A compound movement can be defined as: Any exercise that engages two or more different joints to fully stimulate entire muscle groups and, indeed, multiple muscles </p>

        <h2> Bench Press </h2>
        <p> The bench press is an upper body strength training exercise that consists of pressing a weight upwards from a supine position.</p>

        <p>
        <h3>Body Part:</h3> Chest

        <h3>Movement Type:</h3> Compound

        <h3>Primary Muscle:</h3> Pec Major

        <h3> Assisted Muscle:</h3> Anterior Delts / Triceps

        <h3>Line of Movement:</h3> Bring the bar down at a slight angle towards the pecs major and back up the same way

        <h3>Range of Movement:</h3> Bring the bar down all the way to the chest and back up to the starting position

        </p>

        <h2> Barbell Deadlift </h2>
        <p> The deadlift is a weight training exercise in which a loaded barbell or bar is lifted off the ground to the hips, then lowered back to the ground. It is one of the three powerlifting exercises, along with the squat and bench press.</p>

        <p> <!------------ open paragraph-------------->
        <h3>Body Part:</h3> Back

        <h3>Movement Type:</h3> Compound

        <h3>Primary Muscle:</h3> Lower Back

        <h3>Assisted Muscle:</h3> Hamstrings / Glutes / Quads

        <h3>Line of Movement:</h3> Bring the bar up along the legs and back down the same way

        <h3>Range of Movement:</h3> Bring the bar up all the way fully standing up and back down to the starting position

        </p>
    </section>

    <!------------ imported image source-------------->
    <section class="photo">
        <img src="../images/benchpress.jpg" width="350" height="350" alt="pic of exercise" /><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img src="../images/barbelldeadlift.jpg" width="350" height="350" alt="pic of exercise" />
    </section>
</div>

<h1> <!------------ open h1-------------->
</h1> <!------------ end h1-------------->

    {% end block %}