{% extends 'template.html.twig.twig' %}

{% block main %}

<div class="column_container">
    <section class="leftside">


        <h1> Isolation Exercises </h1>

        <p>  Isolation exercises in weight training are exercises that involve only one joint and a limited number of muscle groups </p>

        <h2> Bicep Curls </h2>
        <p> The term "biceps curl" may refer to any of a number of weight training exercises that target the biceps brachii muscle.</p>

        <p>
        <h3>Body Part:</h3> Biceps

        <h3>Movement Type:</h3> Isolated

        <h3>Primary Muscle:</h3> Biceps

        <h3>Line of Movement:</h3> Bring the dumbbell / bar out away from your body bending your arms in a semi circular motion and back down the same way

        <h3>Range of Movement:</h3> Bring the dumbbell / bar  contracting the bicep fully and back down to the starting position

        </p>

        <h2> Stiff Legged Deadlift </h2>
        <p>The stiff-legged deadlift is a variation of whereby the knees are only slightly bent and not moved during the exercise</p>

        <p>
        <h3>Body Part:</h3> Legs

        <h3>Movement Type:</h3> Isolated

        <h3>Primary Muscle:</h3> Hamtrings

        <h3>Line of Movement:</h3> Bring the bar down along the legs ( legs slightly bent, do not lock out the legs ) and back up the same way

        <h3>Range of Movement:</h3> Bring the bar down as far as you can while maintaining perfect form ( Back in a concave position and knees slightly bent )

        </p>
    </section>

    <!------------ imported image source-------------->
    <section class="photo">
        <img src="../images/bicepcurls.jpg" width="350" height="350" alt="" /><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img src="../images/stiffleggeddeadlift.jpg" width="350" height="350" alt="pic of exercise" />
    </section>
</div>

    {% end block %}