{% extends 'template.html.twig.twig' %}

{% block main %}

    <!---------------------open section leftside----------------->
<div class="column_container">
    <section class="leftside">

        <h2> Delicious Recipes, Nutrional Information and much more!! </h2>

        <ol class="dropdown">
            <li><a href="../overview.html.twig">Overview</a></li> <br>
            <img src="../../images/food.jpg" alt="food pyramid" width="150" height="150" border="0">
            <li><a href="strawberryshake.html.twig">Sunshine Strawberry Shake </a></li> <br>
            <img src="../../images/smoothie.jpg" alt="pic of a smoothie" width="150" height="150" border="0">
            <li><a href="proteinbars.html.twig">Protein Bars</a></li> <br>
            <img src="../../images/protein bars.jpg" alt="pic of bars" width="150" height="150" border="0">

        </ol>

    </section>

    <!------------ imported image source-------------->
    <section class="photo">

        <h2>
            Cajun Turkey Medallions
        </h2>

        <p> A comfort food that wont harm your physique </p>

        <p>

        <h3>Ingredients</h3>
        <ul> <
            <li> 2 tbsp grapeseed oil </li>
            <li> 2 tbsp cajun spice </li>
            <li> 2 cups cooked brown rice </li>
            <li> 1 green onion </li>
            <li> 1 cup orange juice </li>
            <li> 1 tbsp orange zest </li>
            <li> 6 basil leaves </li>
            <li> 6 mint leaves </li>
            <li> pinch of salt </li>
            <li> 1 tsp ginger powder </li>
            <li> 2 tbsp resberry vinegar </li>
        </ul>
        </p> <

        <p>
        <h3>Directions </h3>
        <ol>
            <li> First, prepare the sauce. Bring the cranberries, juice, and zest to a boil in a saucepan, then reduce heat and let cook for about 10 minutes. As the sauce thickens, add basil, mint, salt, ginger, and vinegar and continue to cook for another 10 minutes. Remove the finished sauce from heat, then cover and set aside. </li>
            <li> To prepare the turkey, dust both sides of the medallions with Cajun spice, then cook over medium heat in a sauté pan coated with 2 tbsp grapeseed oil. Cook the medallions about 5 minutes per side </li>
            <li> Once both sides are done, remove medallions from the pan and place in a baking dish. Finish turkey in a preheated 350º oven for 8–9 minutes. </li>
            <li> Once the medallions are fully cooked through, remove them from the oven and allow to sit for 3–4 minutes to absorb juices. </li>
            <li> Serve medallions over cooked rice and finish with the warm cranberry sauce. Enjoy </li>
        </ol>
        </p>


        <img src="../../images/cajun turkey medallions.jpg" alt="pic of food">
    </section>
</div>

{% end block %}