{% extends 'template.html.twig.twig' %}

{% block main %}

<div class="column_container">
    <section class="leftside">

        <h3>
            About Me:
        </h3>

        <p>
            - I am a fully qualified Personal Trainer and Nutritional Advisor based in Dublin, Ireland.
            I have enjoyed participating in a wide variety of sporting disciplines over the years.
            As a recreational runner I have competed in events from 5K fun runs to 100K endurance races.
            I am passionate about health andfitness and love being able to help people achieve their goals.
            I understand how difficult it can be to lose weight and achieve your fitness goals. With regular
            exercise you can improve both your mind and body.  Good nutrition and exercise leaves you far
            better equipped to lead a fitter,fuller, happier and maybe even longer life.</p>

        <h3>Professional competence:</h3><p> - I trained as an exercise professional with the highly regarded
        Image Fitness completing the Diploma in Personal Training, recognised as the
        industry "gold standard" qualification. I am a fully insured member of the Register of Exercise
        Professional.</p>

        <h3>Qualifications:</h3>
        <h4>Fitness Instruction EQF3</h4>
        <h4>Group Instruction EQF3</h4>
        <h4>Personal Trainer EQF4</h4>
        <h4>IFT Strongman Training</h4>
        <h4>IFT Suspension Training</h4>
        <h4>IFT Kettlebell Training</h4>
    </section>
</div>
{% end block %}


