{% extends 'template.html.twig.twig' %}

{% block main %}

    <!---------------------open section recipe----------------->
<div class="column_container">
    <section class="leftside">

        <h2> Click the links below for top exercise tips!! </h2>

        <ol class="dropdown">
            <li><a href="fitness/compound.html" class="current_page">Compound Exercises</a></li> <br>
            <img src="../images/cvi.jpg" alt="compound v isolation" width="200" height="200" border="0">
            <li><a href="fitness/isolated.html">Isolated Exercises</a></li> <br>

        </ol>

    </section>

    <!------------ imported image source-------------->
    <section class="photo">
        <h1>Which is Best?</h1>

        <h3>A common way of classifying weight training exercises is in terms of how the exercise trains your body and what/how many muscle
            groups are being used significantly when it’s performed. In this case, there’s 2 groups an exercise can fall into:</h3><br>

        <h2>Compound Exercises</h2><br>
        <h2>and</h2>
        <h2>Isolation Exercises</h2><br>

        <h3>Now, a lot of silly (or stupid) people like to make general definitive statements such as “compound exercises rule!” and “isolation exercises suck!”
            Unfortunately for them (and the people who listen to them), it’s not quite that simple.
            The truth is, both compound and isolation exercises can serve a ton of different purposes in a ton of different workout routines based on your goal and
            your body, and that means the only way to know for sure which type of exercise is best for you is by getting down to the specifics of each.</h3>
    </section>
</div>

{% end block %}