{% extends 'template.html.twig.twig' %}

{% block main %}

<div class="column_container">
    <section class="leftside">

        <h2>
            Sunshine Strawberry Shake
        </h2>

        <a href="../nutrition/recipes/strawberryshake.html.twig">
            <img src="../images/smoothie.jpg" alt="Go to Nutrition Overview" width="400" height="400" border="0">
        </a>

    </section>

    <!------------ imported image source-------------->
    <section class="photo">

        <h2>At Titan Fitness we are passionate about what we do, aiming to ensure that you get results that last from just one session per week.
            With just healthy food plans and hard work, we can get you into the best shape of your life!</h2>

        <img src="../images/pt.png" alt="Personal Training" border="0">


    </section>

    <section class="right">

        <h2>Titan Blog</h2>

        <a href="blog/musclegrowth.html">
            <img src="../images/pushitagain.jpg" alt="Go to Muscle Building" width="200" height="200" border="0">
        </a>

        <a href="blog/roleofprotein.html">
            <img src="../images/protein.jpg" alt="Go to Role of Protein" width="200" height="200" border="0">
        </a>
    </section>
</div>

    {% end block %}