{% extends 'template.html.twig.twig' %}

{% block main %}

<div class="column_container">
    <section class="leftside">

        <h1>
        </h1>
        <img src="../images/food.jpg" alt="logo" />

    </section>

    <section class="photo">

        <h1>
            Food Pyramid Explained
        </h1>
        <h3>
            The food pyramid is designed to make healthy eating easier. Healthy eating is about getting the correct
            amount of nutrients – protein, fat, carbohydrates, vitamins and minerals you need to maintain good health.<br><br>
            Foods that contain the same type of nutrients are grouped together on each of the shelves of the Food Pyramid.
            This gives you a choice of different foods from which to choose a healthy diet. Following the Food Pyramid as
            a guide will help you get the right balance of nutritious foods within your calorie range. Studies show that we
            take in too many calories from foods and drinks high in fat, sugar and salt, on the top shelf of the Food Pyramid.
            They provide very little of the essential vitamins and minerals your body needs. Limiting these is essential for healthy eating.<br><br>
            So in a nutshell, healthy eating involves:<br>
            Plenty of fruit and vegetables<br>
            Plenty of bread, rice, potatoes, pasta and cereals – going for the wholegrain varieties whenever you can<br>
            Some milk, cheese and yoghurt<br>
            Some meat, poultry, eggs, beans and nuts<br>
            A very small amount of fats and oils<br>
            And a very small amount or no food and drinks high in fat, sugar and salt</h3>
        <h2>Supplements:</h2>
        <h3>If you eat a varied and balanced diet, then there is normally no need to take any food supplements
            you’ll get everything you need from your food. The one exception to this is folic acid. All women of
            child-bearing age who could become pregnant should take a supplement of 400µg (micrograms) folic acid each day.
            If a woman does become pregnant, she should continue to take the supplement during the first twelve weeks of pregnancy
        </h3>
    </section>

</div>

    {% end block %}